<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dummy page</title>
</head>
<body th:object="${contact}">
    <h1>Your contact information</h1>
    <p>ID: </p>
    <p th:text="*{id}"></p>
    <p>Name: </p>
    <p th:text="*{name}"></p>
    <p>Email: </p>
    <p th:text="*{email}"></p>
    <p>Phone: </p>
    <p th:text="*{phone}"></p>
</body>
</html>